.image-order-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropzone {
  border: 2px dashed #007bff;
  padding: 20px;
  margin-bottom: 20px;
  width: 400px;
  text-align: center;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-item {
  width: 100px;
  height: fit-content;
  overflow: hidden;
  position: relative;
}

.image-preview {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
