.image-order-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropzone {
  border: 2px dashed #007bff;
  padding: 20px;
  margin-bottom: 20px;
  width: 400px;
  text-align: center;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-item {
  width: 100px;
  height: fit-content;
  overflow: hidden;
  position: relative;
}

.image-preview {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border: 2px solid gray;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}

#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow-y: auto;
}

#modal:empty {
  display: none;
}

#modal > div {
  max-width: 50%;
  min-width: 400px;
  padding: 15px;
  text-align: center;
  margin: auto;
}
