@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Times New Roman", Times, serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

@layer base {
  h1 {
    @apply text-4xl lg:text-7xl font-bold;
  }
  h2 {
    @apply text-2xl lg:text-4xl font-bold;
  }
  h3 {
    @apply text-xl lg:text-3xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }
}

.landingline {
  height: 1px;
}

.landingline2 {
  height: 2px;
}
